<section class="home-section-1">
  <div class="grid_container">
    <h1 class="animate__animated animate__zoomIn">Algunos temas interesantes</h1>
    <hr class="solid-light animate__animated animate__fadeInUp animate__delay-2s">
  </div>
</section>
<div class="home-dashboard-size">
  <div class="home-dashboard grid_container">
    <section class="home--article-container animate__animated animate__zoomIn animate__delay-1s">
      <section class="div-to-articles">
        <h2>Artículos</h2>
      </section>
      <a href="#/birthday_home" class="home-article">
        <p>Problema del cumpleaños</p>
        <img class="img-st" src="../assets/icons/others/icons8-futuro-60.png" alt="imagen">
        <img class="img-arrow" src="../assets/icons/others/icons8-right-arrow.png" alt="imagen">
      </a>
      <a href="#/top_secret" class="home-article">
        <p>Top Secret</p>
        <img class="img-st" src="../assets/icons/others/icons8-question-60.png" alt="imagen">
        <img class="img-arrow" src="../assets/icons/others/icons8-right-arrow.png" alt="imagen">
      </a>
    </section>
    <section class="home--article-container animate__animated animate__zoomIn animate__delay-1s">
      <section class="div-to-articles">
        <h2>Datos interesantes</h2>
      </section>
      <a href="#/top_secret" class="home-article">
        <p>Top Secret</p>
        <img class="img-st" src="../assets/icons/others/icons8-question-60.png" alt="imagen">
        <img class="img-arrow" src="../assets/icons/others/icons8-right-arrow.png" alt="imagen">
      </a>
    </section>
  </div>
</div>